Вариант 3

Разработайте программу по следующему описанию. В некой игре-стратегии есть паладдины и маги. У всех есть свойство, содержащее уникальный номер объекта, и свойство, в котором хранится принадлежность команде.
У паладдины есть метод "иду за магом", который в качестве аргумента принимает объект типа "маг". У мага есть метод увеличения собственного уровня. Скиллы к магии
В основной ветке программы создается по одному магу для команды. В цикле генерируются объекты-паладдины. Их принадлежность команде определяется случайно.
паладдины разных команд добавляются в разные списки. Измеряется длина списков паладдинов противоборствующих команд и выводится на экран. У мага, принадлежащего команде с более длинным списком, поднимается уровень.
Отправьте одного из паладинов первого мага следовать за ним. Выведите на экран идентификационные номера этих двух юнитов.